{% extends 'base.twig' %}

{% block body %}

    <div class="container body-content span=8 offset=2">
        <div class="message">
            {% if nameSuccess %}<span class="alert alert-success">* {{ nameSuccess }}</span>{% endif %}
        </div>
        <div class="well">
            <form class="form-horizontal" action="{{ path_for('article_delete', {id: article.id}) }}" method="POST">
                <fieldset>
                    <legend>Delete Post</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">Title</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="article_title" placeholder="Post Title"
                                   name="title" value="{{ article.title }}">
                            <input type="hidden" class="form-control" id="article_id" name="id" value="{{ article.id }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_content">Summary</label>
                        <div class="col-sm-6">
                        <textarea class="form-control" rows="3" id="article_content"
                                  name="summary">{{ article.summary }}</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_content">Content</label>
                        <div class="col-sm-6">
                        <textarea class="form-control" rows="6" id="article_content"
                                  name="content">{{ article.content }}</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_image">Image</label>
                        <div class="col-sm-4 ">
                            <input type="file" accept=".jpg, .png" class="form-control" id="article_image" placeholder="Image"
                                   name="image">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path_for('homepage', {id: article.id}) }}">Cancel</a>
                            <button type="submit" class="btn btn-success">Delete</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>



{% endblock %}

